<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Username</th>
      <th>e-mail</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="user in users">
      <td>{{user.name}}</td>
      <td>{{user.username}}</td>
      <td>{{user.email}}</td>
    </tr>
  </tbody>
</table>
